{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
    <h1 style="color:blueviolet; text-align: center; font-size: 3rem;">Dentistry</h1>
    <p style="font-size: 1.5rem;"><img width="400px" height="370px" style="float: right; margin-top: 0%;" src={% static 'img/dentist.jpg' %}>Bewell Dental Care is South India’s fastest-growing dental chain. bewell Dental Care seeks to provide comprehensive, all-encompassing, functionally and aesthetically motivated dental care that is outcome-centred and outcome-driven. 32 Dental Care offers comprehensive dental solutions under one roof, including cosmetic dentistry, orthodontic braces, full-mouth rehabilitation, a smile makeover, implants, and pain-free root canal treatment. This type of treatment is made easier with the assistance of highly experienced and skilled doctors.</p><br>
    <p style="font-size: 1.5rem;">2 Dental Care’s mission and philosophy are to deliver highly personalised dental care that is suited to the needs of each patient in a comfortable and friendly environment to provide an enhanced experience.</p><br>
    <a href="cpost" title="bones icons"><button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Book Appionment</button></a><br><br>
{% endblock 'main' %}