{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<!-- Main Content-->
<h1 style="color:blueviolet; text-align: center; font-size: 4rem;">We Are Not So Far Away</h1>
<p style="font-size: 2rem; margin-left: 30%;">24 Hours Neighbourhood Emergency Care Hospital.
<p style="text-align: center; font-size: 3rem;">Contact For Emergency</p>    
<p style="color:blueviolet; text-align: center; font-size: 3rem;">9698 300 300</p>
<p  style="text-align: center; font-size: 3rem;">Ambulance</p>
<p style="color:blueviolet; text-align: center; font-size: 4rem;">201</p>
{% endblock 'main' %} 