{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
    <h1 style="color:blueviolet; text-align: center; font-size: 3rem;">ENT</h1>
    <p style="font-size: 1.5rem;"><img width="300px" height="300px" style="float: left; margin-top: 0%;" src={% static 'img/ent.jpg' %}>ENT is the department that takes care of disorders related to the ears, nose and throat. There are several issues that the specialists in the field deal with. It includes hearing impairment, swallowing problems, 
        voice disorders, breathing and sleep issues, sinuses and allergies, head and neck issues, etc.</p> 
    <p style="font-size: 1.5rem;">Our specialist ENT doctors, also known as otolaryngologists, are among the best in their field. While the primary line of treatment is medicines and other non-invasive treatments, surgeries might be required if these methods are ineffective, depending on individual cases. Most of these surgeries are minimally invasive and are done at our hospital 
        on a day-care basis under complete observation and sanitary conditions. All after-care procedures are also taken care</p><br>
    <p style="font-size: 1.5rem;">Our ENT specialist surgeons are proficient in all related surgeries like endoscopic sinus surgery, rhinoplasty, micro-laryngeal surgeries, minor and major ear surgeries, tonsillectomy, etc.<br>

        Patients have also reported significant relief in minimum time for issues like sleep apnoea syndrome, snoring, and similar problems. Diagnostic techniques involving the ENT organs are also done. It includes endoscopy, biopsy, and other head and neck procedures.
        
        Be Well Hospitals strive to serve you with everything best obtainable.<br>
         We believe that building a hospital takes effort, and more importantly, it takes much more to make it one of the paramount ones. Your health is our topmost priority.</p><br>
    <a href="cpost" title="bones icons"><button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Book Appionment</button></a><br><br>
{% endblock 'main' %}