<html>
    <head>
        <title>Webpage</title>
    </head>
    <body>
       <h1 style="color: crimson; margin-left:25%; margin-right: 25%;" align="center">Welcome To Html</h1>
        <!--<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex maiores assumenda inventore! Rerum quis, commodi modi animi corporis eligendi vero adipisci molestias
             corrupti omnis facere amet iusto optio, dolore voluptatem.</p>-->
             <p>{{name}}</p>
             <p>{{location}}</p>
             <p>{{Batch}}</p>
    </body>
</html>