{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
    <h1 style="color:blueviolet; text-align: center; font-size: 3rem;">Orthopaedics</h1>
    <h3>Joint Replacement</h3><br>
    <p style="font-size: 1.5rem;"><img width="400px" height="400px" style="float: right; margin-top: 0%;" src={% static 'img/Orthopedic.png' %}>Joint Replacement (an arthroplasty) is a procedure that involves removing part or all of the damaged joint and replacing it with artificial implants. Joint pain is caused by damage to the cartilage that lines the ends of the bones (articular cartilage)—either from arthritis, a fracture, or another circumstance.<br>

        Joint Replacement Surgery can help you hold onto what you love. Our orthopedic specialists specialize in less invasive hip and knee replacement procedures. With quicker recovery and Locations across Tamil Nadu.</p> 
    <p style="font-size: 1.5rem;">Our specialist ENT doctors, also known as otolaryngologists, are among the best in their field. While the primary line of treatment is medicines and other non-invasive treatments, surgeries might be required if these methods are ineffective, depending on individual cases. Most of these surgeries are minimally invasive and are done at our hospital 
        on a day-care basis under complete observation and sanitary conditions. All after-care procedures are also taken care</p><br><br>
    <h3>Fracture Surgeries</h3><br>  
    <p style="font-size: 1.5rem;"><img width="300px" height="250px" style="float: left; margin-top: 0%;" src={% static 'img/fractrue.jpg' %}>Fracture indicates broken bone. A bone may get fractured totally or partially and it is caused commonly by trauma due to falls, motor vehicle accidents, or sports. Bone fractures and joint dislocations can lead to complications and require immediate medical care. We provide 24/7 fracture service. We have a team of highly qualified and experienced orthopedicians who aims to provide world-class treatment.</p><br><br><br><br><br>
    <a href="cpost" title="bones icons"><button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Book Appionment</button></a><br><br>
{% endblock 'main' %}